*~
*.[ao]
*.l[ao]
.libs
.deps
added
aclocal.m4
autom4te*.cache
build-stamp
changes
config/
config.cache
config.log
config.status
config.sub
config.guess
config.h.in
config.h
ltmain.sh
configure
configure.lineno
libtool
INSTALL
Makefile
Makefile.in
lib/include/guestrpc/
