Makefile
checkvm/.deps/
checkvm/Makefile
config.log
config.status
guestd/.deps/
guestd/Makefile
hgfsclient/.deps/
hgfsclient/Makefile
hgfsmounter/.deps/
hgfsmounter/Makefile
lib/Makefile
lib/SLPv2Parser/.deps/
lib/SLPv2Parser/Makefile
lib/appUtil/.deps/
lib/appUtil/Makefile
lib/auth/.deps/
lib/auth/Makefile
lib/backdoor/.deps/
lib/backdoor/Makefile
lib/backdoor/shared/.deps/
lib/backdoor/shared/Makefile
lib/conf/.deps/
lib/conf/Makefile
lib/deployPkg/.deps/
lib/deployPkg/Makefile
lib/dict/.deps/
lib/dict/Makefile
lib/dnd/.deps/
lib/dnd/Makefile
lib/dynxdr/.deps/
lib/dynxdr/Makefile
lib/err/.deps/
lib/err/Makefile
lib/eventManager/.deps/
lib/eventManager/Makefile
lib/file/.deps/
lib/file/Makefile
lib/foundryMsg/.deps/
lib/foundryMsg/Makefile
lib/ghIntegration/.deps/
lib/ghIntegration/Makefile
lib/ghIntegrationStub/.deps/
lib/ghIntegrationStub/Makefile
lib/guestApp/.deps/
lib/guestApp/Makefile
lib/guestInfo/.deps/
lib/guestInfo/Makefile
lib/guestRpc/.deps/
lib/guestRpc/Makefile
lib/hgfs/.deps/
lib/hgfs/Makefile
lib/hgfsBd/.deps/
lib/hgfsBd/Makefile
lib/hgfsServer/.deps/
lib/hgfsServer/Makefile
lib/hgfsServerManagerGuest/.deps/
lib/hgfsServerManagerGuest/Makefile
lib/hgfsServerPolicyGuest/.deps/
lib/hgfsServerPolicyGuest/Makefile
lib/image/.deps/
lib/image/Makefile
lib/impersonate/.deps/
lib/impersonate/Makefile
lib/message/.deps/
lib/message/Makefile
lib/message/shared/.deps/
lib/message/shared/Makefile
lib/misc/.deps/
lib/misc/Makefile
lib/misc/shared/.deps/
lib/misc/shared/Makefile
lib/netUtil/.deps/
lib/netUtil/Makefile
lib/panic/.deps/
lib/panic/Makefile
lib/panicDefault/.deps/
lib/panicDefault/Makefile
lib/printer/.deps/
lib/printer/Makefile
lib/procMgr/.deps/
lib/procMgr/Makefile
lib/raster/.deps/
lib/raster/Makefile
lib/region/.deps/
lib/region/Makefile
lib/resolution/.deps/
lib/resolution/Makefile
lib/rpcIn/.deps/
lib/rpcIn/Makefile
lib/rpcOut/.deps/
lib/rpcOut/Makefile
lib/rpcOut/shared/.deps/
lib/rpcOut/shared/Makefile
lib/rpcVmx/.deps/
lib/rpcVmx/Makefile
lib/socketMgr/.deps/
lib/socketMgr/Makefile
lib/string/.deps/
lib/string/Makefile
lib/string/shared/.deps/
lib/string/shared/Makefile
lib/stubs/.deps/
lib/stubs/Makefile
lib/stubs/shared/.deps/
lib/stubs/shared/Makefile
lib/sync/.deps/
lib/sync/Makefile
lib/sync/shared/.deps/
lib/sync/shared/Makefile
lib/syncDriver/.deps/
lib/syncDriver/Makefile
lib/system/.deps/
lib/system/Makefile
lib/toolsLogger/.deps/
lib/toolsLogger/Makefile
lib/unicode/.deps/
lib/unicode/Makefile
lib/unity/.deps/
lib/unity/Makefile
lib/unityStub/.deps/
lib/unityStub/Makefile
lib/unityWindowTracker/.deps/
lib/unityWindowTracker/Makefile
lib/user/.deps/
lib/user/Makefile
lib/vixTools/.deps/
lib/vixTools/Makefile
lib/vmBackupLib/.deps/
lib/vmBackupLib/Makefile
lib/vmCheck/.deps/
lib/vmCheck/Makefile
lib/vmSignal/.deps/
lib/vmSignal/Makefile
lib/wiper/.deps/
lib/wiper/Makefile
libguestlib/.deps/
libguestlib/Makefile
libtool
modules/Makefile
scripts/Makefile
toolbox/.deps/
toolbox/Makefile
vmware-user-suid-wrapper/.deps/
vmware-user-suid-wrapper/Makefile
vmware-user/.deps/
vmware-user/Makefile
xferlogs/.deps/
xferlogs/Makefile
added
*.o
*.a
*.la
*.lo
checkvm/vmware-checkvm
guestd/vmware-guestd
hgfsclient/vmware-hgfsclient
hgfsmounter/mount.vmhgfs
lib/guestRpc/ghiGetBinaryHandlers.h
lib/guestRpc/ghiGetBinaryHandlers_xdr.c
lib/guestRpc/ghiProtocolHandler.h
lib/guestRpc/ghiProtocolHandler_xdr.c
lib/guestRpc/nicinfo.h
lib/guestRpc/nicinfo_xdr.c
lib/guestRpc/unityActive.h
lib/guestRpc/unityActive_xdr.c
lib/include/guestrpc/
libguestlib/.libs/
toolbox/.libs/
toolbox/vmware-toolbox-cmd
xferlogs/vmware-xferlogs
changes
build-stamp
debian/files
debian/open-vm-tools.debhelper.log
debian/open-vm-tools/
modules/linux/vmblock/.tmp_versions/
modules/linux/vmblock/.vmblock.ko.cmd
modules/linux/vmblock/.vmblock.mod.o.cmd
modules/linux/vmblock/.vmblock.o.cmd
modules/linux/vmblock/Module.markers
modules/linux/vmblock/Module.symvers
modules/linux/vmblock/linux/.block.o.cmd
modules/linux/vmblock/linux/.control.o.cmd
modules/linux/vmblock/linux/.dbllnklst.o.cmd
modules/linux/vmblock/linux/.dentry.o.cmd
modules/linux/vmblock/linux/.file.o.cmd
modules/linux/vmblock/linux/.filesystem.o.cmd
modules/linux/vmblock/linux/.inode.o.cmd
modules/linux/vmblock/linux/.module.o.cmd
modules/linux/vmblock/linux/.stubs.o.cmd
modules/linux/vmblock/linux/.super.o.cmd
modules/linux/vmblock/modules.order
modules/linux/vmblock/vmblock.ko
modules/linux/vmblock/vmblock.mod.c
modules/linux/vmci/.kernelStubsLinux.o.cmd
modules/linux/vmci/.tmp_versions/
modules/linux/vmci/.vmci.ko.cmd
modules/linux/vmci/.vmci.mod.o.cmd
modules/linux/vmci/.vmci.o.cmd
modules/linux/vmci/.vmciDatagram.o.cmd
modules/linux/vmci/.vmciEvent.o.cmd
modules/linux/vmci/.vmciGuestDs.o.cmd
modules/linux/vmci/.vmciGuestKernelIf.o.cmd
modules/linux/vmci/.vmciKernelIf.o.cmd
modules/linux/vmci/.vmciProcess.o.cmd
modules/linux/vmci/.vmciQueuePair.o.cmd
modules/linux/vmci/.vmciUtil.o.cmd
modules/linux/vmci/.vmci_drv.o.cmd
modules/linux/vmci/Module.markers
modules/linux/vmci/Module.symvers
modules/linux/vmci/modules.order
modules/linux/vmci/vmci.ko
modules/linux/vmci/vmci.mod.c
modules/linux/vmhgfs/.backdoor.o.cmd
modules/linux/vmhgfs/.backdoorGcc32.o.cmd
modules/linux/vmhgfs/.bdhandler.o.cmd
modules/linux/vmhgfs/.cpName.o.cmd
modules/linux/vmhgfs/.cpNameLinux.o.cmd
modules/linux/vmhgfs/.cpNameLite.o.cmd
modules/linux/vmhgfs/.dentry.o.cmd
modules/linux/vmhgfs/.dir.o.cmd
modules/linux/vmhgfs/.file.o.cmd
modules/linux/vmhgfs/.filesystem.o.cmd
modules/linux/vmhgfs/.fsutil.o.cmd
modules/linux/vmhgfs/.hgfsBd.o.cmd
modules/linux/vmhgfs/.hgfsEscapeLinux.o.cmd
modules/linux/vmhgfs/.hgfsUtil.o.cmd
modules/linux/vmhgfs/.inode.o.cmd
modules/linux/vmhgfs/.kernelStubsLinux.o.cmd
modules/linux/vmhgfs/.link.o.cmd
modules/linux/vmhgfs/.message.o.cmd
modules/linux/vmhgfs/.messageBackdoor.o.cmd
modules/linux/vmhgfs/.module.o.cmd
modules/linux/vmhgfs/.page.o.cmd
modules/linux/vmhgfs/.request.o.cmd
modules/linux/vmhgfs/.rpcout.o.cmd
modules/linux/vmhgfs/.staticEscape.o.cmd
modules/linux/vmhgfs/.stubs.o.cmd
modules/linux/vmhgfs/.super.o.cmd
modules/linux/vmhgfs/.tmp_versions/
modules/linux/vmhgfs/.vmhgfs.ko.cmd
modules/linux/vmhgfs/.vmhgfs.mod.o.cmd
modules/linux/vmhgfs/.vmhgfs.o.cmd
modules/linux/vmhgfs/Module.markers
modules/linux/vmhgfs/Module.symvers
modules/linux/vmhgfs/modules.order
modules/linux/vmhgfs/vmhgfs.ko
modules/linux/vmhgfs/vmhgfs.mod.c
modules/linux/vmmemctl/.backdoorGcc32.o.cmd
modules/linux/vmmemctl/.os.o.cmd
modules/linux/vmmemctl/.tmp_versions/
modules/linux/vmmemctl/.vmballoon.o.cmd
modules/linux/vmmemctl/.vmmemctl.ko.cmd
modules/linux/vmmemctl/.vmmemctl.mod.o.cmd
modules/linux/vmmemctl/.vmmemctl.o.cmd
modules/linux/vmmemctl/Module.markers
modules/linux/vmmemctl/Module.symvers
modules/linux/vmmemctl/modules.order
modules/linux/vmmemctl/vmmemctl.ko
modules/linux/vmmemctl/vmmemctl.mod.c
modules/linux/vmsync/.sync.o.cmd
modules/linux/vmsync/.tmp_versions/
modules/linux/vmsync/.vmsync.ko.cmd
modules/linux/vmsync/.vmsync.mod.o.cmd
modules/linux/vmsync/.vmsync.o.cmd
modules/linux/vmsync/Module.markers
modules/linux/vmsync/Module.symvers
modules/linux/vmsync/modules.order
modules/linux/vmsync/vmsync.ko
modules/linux/vmsync/vmsync.mod.c
modules/linux/vmxnet/.tmp_versions/
modules/linux/vmxnet/.vmxnet.ko.cmd
modules/linux/vmxnet/.vmxnet.mod.o.cmd
modules/linux/vmxnet/.vmxnet.o.cmd
modules/linux/vmxnet/Module.markers
modules/linux/vmxnet/Module.symvers
modules/linux/vmxnet/modules.order
modules/linux/vmxnet/vmxnet.ko
modules/linux/vmxnet/vmxnet.mod.c
modules/linux/vmxnet3/.tmp_versions/
modules/linux/vmxnet3/.vmxnet3.ko.cmd
modules/linux/vmxnet3/.vmxnet3.mod.o.cmd
modules/linux/vmxnet3/.vmxnet3.o.cmd
modules/linux/vmxnet3/Module.markers
modules/linux/vmxnet3/Module.symvers
modules/linux/vmxnet3/modules.order
modules/linux/vmxnet3/vmxnet3.ko
modules/linux/vmxnet3/vmxnet3.mod.c
modules/linux/vsock/.tmp_versions/
modules/linux/vsock/.vsock.ko.cmd
modules/linux/vsock/.vsock.mod.o.cmd
modules/linux/vsock/.vsock.o.cmd
modules/linux/vsock/Module.markers
modules/linux/vsock/Module.symvers
modules/linux/vsock/linux/.af_vsock.o.cmd
modules/linux/vsock/linux/.driverLog.o.cmd
modules/linux/vsock/linux/.util.o.cmd
modules/linux/vsock/linux/.vsockAddr.o.cmd
modules/linux/vsock/modules.order
modules/linux/vsock/vsock.ko
modules/linux/vsock/vsock.mod.c
added
