Source: open-vm-tools
Section: contrib
Priority: extra
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: open-vm-tools
Architecture: any
Description: Vyatta verion of the open-vm tools
 This package provides the accclerated drivers vyatta on VmWare.
