Source: open-vm-tools
Section: contrib/admin
Priority: extra
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Build-Depends: debhelper (>= 8), autotools-dev, libproc-dev, libdumbnet-dev
Standards-Version: 3.9.2
Homepage: http://open-vm-tools.sourceforge.net/

Package: open-vm-modules-3.0.9-1-586-vyatta-virt
Architecture: i386
Provides: open-vm-modules
Recommends: open-vm-tools
Depends: linux-image-3.0.9-1-586-vyatta-virt
Description: Vyatta version of the open-vm tools
 This package provides the VmWare accelerated drivers for kernel
 linux-image-3.0.9-1-586-vyatta-virt.

Package: open-vm-modules-3.0.9-1-amd64-vyatta-virt
Architecture: amd64
Provides: open-vm-modules
Recommends: open-vm-tools
Depends: linux-image-3.0.9-1-amd64-vyatta-virt
Description: Vyatta version of the open-vm modules for amd64
 This package provides the accelerated drivers vyatta on VMware for kernel
 linux-image-3.0.9-1-amd64-vyatta-virt.

Package: open-vm-tools
Architecture: any
Depends: libc6, libglib2.0-0, open-vm-modules, procps, libdumbnet1
Description: tools and components for VMware guest systems (CLI tools)
 The Open Virtual Machine Tools (open-vm-tools) are the open source
 implementation of VMware Tools. They are a set of guest operating system
 Virtualization components that enhance performance and user experience of
 virtual machines.

