Source: open-vm-tools
Section: contrib/admin
Priority: extra
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://open-vm-tools.sourceforge.net/
Vcs-Browser: http://git.debian-maintainers.org/?p=vmware/open-vm-tools.git
Vcs-Git: git://git.debian-maintainers.org/git/vmware/open-vm-tools.git

Package: open-vm-tools-2.6.31-1-586-vyatta
Architecture: i386
Provides: open-vm-tools
Conflicts: open-vm-tools
Depends: linux-image-2.6.31-1-586-vyatta
Description: Vyatta verion of the open-vm tools
 This package provides the accclerated drivers vyatta on VmWare for kernel
 linux-image-2.6.31-1-586-vyatta.

Package: open-vm-tools-2.6.31-1-amd64-vyatta
Architecture: amd64
Provides: open-vm-tools
Conflicts: open-vm-tools
Depends: linux-image-2.6.31-1-amd64-vyatta
Description: Vyatta verion of the open-vm tools
 This package provides the accclerated drivers vyatta on VmWare for kernel
 linux-image-2.6.31-1-amd64-vyatta.

